<!-- <div class="jumbotron">
  <h2>{{"views.main.i18n for your AngularJS applications" | translate}}</h2>

  <p class="lead">
    <img ng-src="images/no-filerev/yeoman-{{locale}}.png?v={{VERSION_TAG}}" alt="{{'views.main.I\'m Yeoman' | translate}}"><br>
    {{"views.main.Always a pleasure scaffolding your apps." | translate}}
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#/">
    {{"views.main.Splendid!" | translate}}
    <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>{{"views.main.HTML5 Boilerplate" | translate}}</h4>

  <p>
    {{"views.main.HTML5 Boilerplate description" | translate}}
  </p>

  <h4>{{"views.main.Angular" | translate}}</h4>

  <p>
    {{"views.main.Angular description" | translate}}
  </p>

  <h4>{{"views.main.Karma" | translate}}</h4>

  <p>{{"views.main.Karma description" | translate}}</p>
</div> -->


<div class="section">
  <div class="row">
      <div class="col-lg-12">
          <h2>Welcome to Clarivate Home Page</h2>              
          <p>{{ "views.main.para1" | translate}}</p>
          <p>{{ "views.main.para2" | translate}}</p>
              
          <hr>
      </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<div class="section">

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>{{"views.main.Display Some Work on the Home Page Portfolio"| translate}}</h2>
            <hr>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

</div>
<!-- /.section -->


